# Ignore everything
*

# Allow .gitignore file itself
!.gitignore

# Allow specific files
!jama_exports/
!jama_exports/kp_data.xlsx
!jama_exports/kp_data.csv

# Ignore environment variables file
.env
